@font-face {
	font-family:'Safety Font';
	src: url(Oswald-Medium.ttf);
}

h2 {
	text-align:center;
}

body {
	font-family: 'Safety Font';
	background-color:#999966;
	color: #333300;
	font-size:1.5em;
}

.correct, .wrong {
	display:none;
}


#question1, 
#question2, 
#question3, 
#question4, 
#question5, 
#question6, 
#question7, 
#question8, 
#question9,
#question10,
#question11,
#question12 {
	width:700px;
	display:none;
}

#footer {
	font-size:0.7em;
	text-align:center;
	margin-top:450px;
}

a {
	text-decoration:none;
}

a:visited, a:link {
	color:#333300;
	font-style:italic;
}

