@font-face {
	font-family:'Safety Font';
	src: url(Oswald-Medium.ttf);
}

h2 {
	text-align:center;
}

body {
	font-family: 'Safety Font';
	background-color:#7C7C53;
	color: #333300;
	font-size:1.5em;
}

.correct, .wrong {
	display:none;
}

#question_list {
	height:600px;
	border:transparent solid 1px;
}

#question1, 
#question2, 
#question3, 
#question4, 
#question5, 
#question6, 
#question7, 
#question8, 
#question9,
#question10,
#question11,
#question12,
#question13,
#question14,
#question15 {
	width:40%;
	margin-top:100px;
	display:none;
}

#continue1,
#continue2,
#continue3,
#continue4,
#continue5,
#continue6,
#continue7,
#continue8,
#continue9,
#continue10,
#continue11,
#continue12,
#continue13,
#continue14,
#continue15 {
	display:none;
	margin-top:50px;
}

#review {
	text-align:center;
	margin-top:100px;
	display:none;
}

input[type=radio] {
	height:1.3em;
	width:1.3em;
}

button {
	font-family:'Safety Font';
	font-size:0.7em;
	margin-top:20px;
	height:30px;
	width:150px;
	color:#333300;
}

#footer {
	position:relative;
	bottom:0px;
	height:70px;
	width:100%;
	font-size:0.7em;
	text-align:center;
}

a {
	text-decoration:none;
}

a:visited, a:link {
	color:#333300;
	font-style:italic;
}

